{% extends 'base.html.twig' %}

{% block javascripts_top %}
    {{ parent() }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3834eace-6729-4d52-9da4-ce2d5aba9c39&lang=ru_RU"
            type="text/javascript"></script>
    <script src="{{ asset('js/Classes/YandexConstructorService.js') }}"></script>
{% endblock %}

{% block content %}
    <style>
        #excel-image {
            width: 150px;
        }
        #excel-form {
            width: 80%;
        }
        .sub-window {
            width: 49%;
        }

        #left-window {
            border-right: 1px solid black;
        }

        #right-window {
            border-left: 1px solid black;
        }
    </style>

    <div id="common-window">
        <div class="sub-window" id="left-window">
            <img id="excel-image" src="https://talentedme.ru/upload/learning/c39/microsoft-excel-vector.jpg" alt="excel">
            {{ form_start(excel_form, {'attr': {'id': 'excel-form'}}) }}
                {{ form_row(excel_form.filename) }}
                {{ form_row(excel_form.file) }}
                <input type="submit" value="Сохранить файл" class="btn btn-success">
            {{ form_end(excel_form) }}
        </div>
        <div class="sub-window" id="right-window">

        </div>
    </div>

    {#    <div id="map" style="width: 600px; height: 400px"></div>#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Bankruptcy.js') }}"></script>
{% endblock %}