{% extends 'base.html.twig' %}

{% block javascripts_top %}
    {{ parent() }}
{#    <script src="https://api-maps.yandex.ru/2.1/?apikey=3834eace-6729-4d52-9da4-ce2d5aba9c39&lang=ru_RU"#}
{#            type="text/javascript"></script>#}
    <script src="{{ asset('js/Classes/YandexConstructorService.js') }}"></script>
{% endblock %}

{% block content %}
    <style>
        #excel-image {
            width: 150px;
        }
        .sub-window {
            padding: 20px;
            width: 50%;
            display: inline-block;
        }
        #left-window {
            float: left;
            border-right: 1px solid black;
        }
        .top-button {
            width: 49%;
        }
        #right-window {
            float: right;
        }
    </style>

    <div id="common-window">
        <div class="sub-window" id="left-window">
            <div>
                <input onclick="loadExcelList()" type="button" class="btn btn-success top-button" value="Мои Файлы">
                <input onclick="loadExcelForm()" type="button" class="btn btn-success top-button" value="Добавить Новый Файл">
                <img id="excel-image" src="https://talentedme.ru/upload/learning/c39/microsoft-excel-vector.jpg" alt="excel">
            </div>
            <div id="left-window-content"></div>
        </div>
        <div class="sub-window" id="right-window">
            <div>
                {{ form_start(excel_form, {'attr': {'id': 'read-excel-form'}}) }}
                    {{ form_row(excel_form.filename) }}
                    <input type="submit" class="btn btn-success" value="Получить каскадные номера">
                {{ form_end(excel_form) }}
            </div>
            <div id="excel-cad-numbers">

            </div>
        </div>
    </div>

    {#    <div id="map" style="width: 600px; height: 400px"></div>#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Bankruptcy.js') }}"></script>
{% endblock %}